<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>返却</title>
  <link rel="stylesheet" href="/css/style.css">
  <% if (message) { %>
    <script>
      alert("<%= message %>");
      location.href = '/list';
    </script>
    <% } %>
</head>

<body>
  <%- include('header') %>
    <main>
      <h2>貸出物品一覧 (現在貸し出し中)</h2>
      <div class="botton-container">
        <a href="/lent">新規貸出</a>
      </div>
      <div class="filter-container">
        <form action="/list" method="get">
          <select name="class">
            <option value="0"></option>
            <% items.forEach((item)=> { %>
              <option value="<%= item.itemNum %>">
                <%= item.itemName %>
              </option>
              <% }); %>
          </select>
          <select name="items">
            <option value="0"></option>
            <% classList.forEach((classNum)=> { %>
              <option value="<%= classNum.num %>">
                <%= classNum.name %>
              </option>
              <% }); %>
          </select>
          <input type="submit" value="絞り込み">
        </form>
      </div>
      <div class="list-container">
        <% data.forEach((lent)=> { %>
          <div class="list-item">
            <!-- items配列からlent.itemNumを検索 -->
            <div class="list-item-id">貸出番号: <%= lent.dataNum %>
            </div>
            <div class="list-item-name">物品名: <%= lent.itemName %>
            </div>
            <div class="list-item-piece">個数: <%= lent.itemPiece %>個</div>
            <div class="list-item-class">クラス: <%= lent.className %>組</div>
            <div class="list-item-date">貸出日時: <%= lent.lentTime %>
            </div>
            <div class="list-item-button">
              <form action="/return-confirm/<%= lent.dataNum %>" method="get">
                <input type="submit" value="返却">
              </form>
            </div>
          </div>
          <% }) %>
      </div>
    </main>
</body>

</html>