<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>返却</title>
  <link rel="stylesheet" href="/css/style.css">
  <% if (message) { %>
    <script>
      alert("<%= message %>");
      location.href = '/list';
    </script>
  <% } %>
</head>

<body>
  <%- include('header') %>
    <main>
      <h2>貸出物品一覧 (現在貸し出し中)</h2>
      <div class="botton-container">
        <a href="/lent">新規貸出</a>
      </div>
      <div class="return-container">
        <h3>IDから返却</h3>
        <form action="/return-confirm" method="get">
          <input type="number" name="id" placeholder="貸出番号">
          <input type="submit" value="返却">
        </form>
      </div>
      <div class="filter-container">
        <h3>絞り込み</h3>
        <form action="/list" method="get">
          <select name="item">
            <option value="0"></option>
            <% items.forEach((item)=> { %>
              <option value="<%= item.id %>">
                <%= item.item_name %>
              </option>
            <% }); %>
          </select>
          <select name="class">
            <option value="0"></option>
            <% classList.forEach((classNum)=> { %>
              <option value="<%= classNum.id %>">
                <%= classNum.name %>
              </option>
            <% }); %>
          </select>
          <input type="submit" value="絞り込み">
        </form>
      </div>
      <div class="list-container">
        <% data.forEach((lent)=> { %>
          <div class="list-item">
            <!-- items配列からlent.itemNumを検索 -->
            <div class="list-item-id">貸出番号: <%= lent.id %>
            </div>
            <div class="list-item-name">物品名: <%= lent.item_name %>
            </div>
            <div class="list-item-piece">個数: <%= lent.item_piece %>個</div>
            <div class="list-item-class">クラス: <%= lent.class_name %></div>
            <div class="list-item-date">貸出日時: <%= lent.lent_time %>
            </div>
            <div class="list-item-button">
              <form action="/return-confirm/<%= lent.id %>" method="get">
                <input type="submit" value="返却">
              </form>
            </div>
          </div>
        <% }) %>
      </div>
    </main>
</body>

</html>