<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>返却</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header class="container mt-3 mb-3">
    <h1>物品貸出登録</h1>
    <h3>2025年度版</h3>
  </header>
    <main>
      <h2>返却確認</h2>
      <h3>以下の物品を返却処理します。よろしいですか？</h3>
      <div class="return-item">
        <div class="list-item-id">ID: <%= data.id %>
        </div>
        <div class="list-item-name">物品名: <%= data.item_name %>
        </div>
        <div class="list-item-piece">個数: <%= data.item_piece %>個</div>
        <div class="list-item-class">クラス: <%= data.class_name %></div>
        <div class="list-item-date">貸出日時: <%= data.lent_time %>
        </div>
        <div class="list-item-button">
          <form action="/return/<%= data.id %>" method="post">
            <input type="submit" value="返却">
          </form>
          <form action="/list" method="get">
            <input type="submit" value="キャンセル">
          </form>
        </div>
      </div>
    </main>
</body>

</html>